@mixin ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	overflow: auto;
	ul {
		padding: 20px 50px;
		width: 33%;
		height: inherit;
		overflow: auto;
		list-style-type: none;
		border-left: 1px #d2d2d2 solid;

		li {
			padding: 12px;
			@include ellipsis;
		}
	}

	ul:first-of-type {
		border: none;
	}

	.files,.tables {
		li:hover {
			cursor: pointer;
		}
	}
}
.selected {
	background: #dcefff;
}

.title {
	font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 12px;
    border-bottom: 1px #d2d2d2 dashed;
    @include ellipsis;
    max-width: 80%;
}

.item-title {
	font-weight: 500;
	padding-right: 10px;
	text-transform: capitalize;
}